<!DOCTYPE html>
<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>로그인</title>
</head>

<body>
<main layout:fragment="main">

    <form th:action method="POST" class="flex flex-col gap-4 p-4">
        <div>
            <input type="text" name="username" class="input input-bordered" placeholder="아이디">
        </div>
        <div>
            <input type="password" name="password" class="input input-bordered" placeholder="비밀번호">
        </div>
        <div>
            <input type="submit" class="btn" value="로그인">
            <a class="btn btn-link" href="/oauth2/authorization/kakao">
                카카오로 로그인하기
            </a>
        </div>
    </form>

</main>
</body>
</html>