<!doctype html>
<html data-theme="light" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE" th:text="GRAMGRAM"></title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- 토스틀, alert 와 confirm을 대체할 목적으로 사용 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">

    <script src="/resource/common/common.js"></script>
</head>
<body>

<link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="/resource/common/common.css">

<header>
    <span th:if="${@rq.logined}">
        <a class="btn btn-link" href="javascript:;" onclick="$(this).next().submit();" >
            로그아웃
        </a>
        <form method="POST" th:action="@{/account/logout}" hidden></form>
    </span>
    <span th:if="${@rq.logout}">
        <a class="btn btn-link"  th:href="@{/account/login}">
            로그인
        </a>
    </span>
</header>

<main layout:fragment="main" class="flex-grow flex flex-col"></main>

</body>
</html>